/* styles_page.css */

body {
    margin: 0;
    color: #ccc;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    text-align: center;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.pergunta {
    text-align: center;
    margin: 20px 0;
}

.atendimento-boxes {
    display: flex;
    flex-direction: column; /* Updated to display boxes in a column */
    align-items: center; /* Center the boxes horizontally */
}

.atendimento-box {
    width: 300px; /* Adjust the width as needed */
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.atendimento-box a {
    text-decoration: none;
    color: #fff;
}

.atendimento-box h2 {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Add media queries if needed for responsiveness */
/* Adicione essas regras ao seu arquivo styles.css */

.atendimento-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.atendimento-box a {
    text-decoration: none;
    color: inherit;
}

.info {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.info h2 {
    margin-bottom: 10px;
}

.info p {
    margin: 5px 0;
}





